syncday.site, www.syncday.site {
    handle /api/* {
        reverse_proxy app:8080
    }
    handle /swagger-ui/* {
        reverse_proxy app:8080
    }
    handle /v3/api-docs* {
        reverse_proxy app:8080
    }
    handle {
        reverse_proxy frontend:80
    }
}
